{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<div class="bigbrand-light">

    <!-- breadcurmb area start -->
    <div class="tp-breadcrumb-area tp-breadcrumb-ptb" data-background="{% static 'web/assets/img/blog/blog-masonry/blog-bradcum-bg.png' %}">
        <div class="container container-1430">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="tp-portfolio-inner-box pb-100">
                        <div class="tp-portfolio-heading pb-30 d-flex p-relative tp_fade_anim">
                            <span class="tp-section-subtitle pre orange-color tp_fade_anim mr-95">Portfolio <svg xmlns="http://www.w3.org/2000/svg" width="82" height="9" viewBox="0 0 82 9" fill="none">
                                    <path d="M78 7.95425L81.5 4.47169L78 0.989136M1 3.98977H81V4.98977H1V3.98977Z" stroke="#FF5722" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>

                            <h3 class="tp-blog-title fs-100 tp_fade_anim">We Make <img src="{% static 'web/assets/img/about-us/about-us-4/about-us-4-shape-1.png' %}" alt=""> <br> Digital Beautiful</h3>
                        </div>
                        <div class="tp-portfolio-inner-tab-wrap">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All Projects</button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Marketing</button>
                                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Agency</button>
                                    <button class="nav-link" id="nav-four-tab" data-bs-toggle="tab" data-bs-target="#nav-four" type="button" role="tab" aria-controls="nav-four" aria-selected="false">Branding</button>
                                    <button class="nav-link" id="nav-five-tab" data-bs-toggle="tab" data-bs-target="#nav-five" type="button" role="tab" aria-controls="nav-five" aria-selected="false">Design</button>
                                    <button class="nav-link" id="nav-six-tab" data-bs-toggle="tab" data-bs-target="#nav-six" type="button" role="tab" aria-controls="nav-six" aria-selected="false">Development</button>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcurmb area end -->


    <!-- portfolio area start -->
    <div class="tp-portfolio-inner-ptb pb-70">
        <div class="container container-1430">
            <div class="tp-portfolio-tab-content-wrap">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Olivia Rivers</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Corporate Branding</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Mobile app</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-4.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Simple Logistics</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Electro Hub</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Soko Project</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-7.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Pastel Ladies</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-8.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Venus Rebrand</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-9.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Taller Alvarado</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-7.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Pastel Ladies</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-8.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Venus Rebrand</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-9.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Taller Alvarado</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Olivia Rivers</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Corporate Branding</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Mobile app</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-4.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Simple Logistics</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Electro Hub</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Soko Project</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-4.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Simple Logistics</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Electro Hub</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Soko Project</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Olivia Rivers</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Corporate Branding</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Mobile app</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-4.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Simple Logistics</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Electro Hub</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Soko Project</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-7.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Pastel Ladies</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-8.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Venus Rebrand</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-9.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Taller Alvarado</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Mobile app</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-4.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Simple Logistics</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Electro Hub</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Olivia Rivers</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Corporate Branding</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Soko Project</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-7.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Pastel Ladies</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-8.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Venus Rebrand</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-9.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Taller Alvarado</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-five" role="tabpanel" aria-labelledby="nav-five-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Corporate Branding</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Soko Project</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Mobile app</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-4.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Simple Logistics</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Electro Hub</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Olivia Rivers</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-7.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Pastel Ladies</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-8.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Venus Rebrand</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-9.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Taller Alvarado</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-six" role="tabpanel" aria-labelledby="nav-six-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Corporate Branding</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Mobile app</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-4.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Simple Logistics</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-5.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Electro Hub</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Soko Project</a></h4>
                                        <span>Agency - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Olivia Rivers</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-7.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Pastel Ladies</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-8.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Venus Rebrand</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="tp-portfolio-inner-item mb-65">
                                    <div class="tp-portfolio-inner-thumb">
                                        <a href="portfolio-details-gallery-light.html"><img src="{% static 'web/assets/img/portfolio/portfolio-col-3/portfolio-thumb-9.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="tp-portfolio-inner-content">
                                        <h4 class="tp-portfolio-inner-title fs-30"><a class="tp-line-white" href="portfolio-details-gallery-light.html">Taller Alvarado</a></h4>
                                        <span>Branding - 2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio area end -->
</div>  
{% endblock %}