{% extends "web/base.html" %}
{% load static %}
{% block content %}
<div class="bigbrand-light">
    <!-- project area start -->
    <div class="design-project-area pt-200 pb-80 title-box">
        <div class="container container-1680">
            <div class="design-project-title-wrap p-relative mb-140">
                <div class="tp-portfolio-metro-shape">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="732" height="9" viewBox="0 0 732 9" fill="none">
                        <path d="M728 7.96512L731.5 4.48256L728 1M1 4H731V5H1V4Z" stroke="#000" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round" />
                    </svg> Know More</span>
                </div>
                <div class="row align-items-end">
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <div class="design-project-title-box">
                            <h4 class="tp-section-title-dirtyline">
                                <span class="tp-text-right-scroll tp_text_invert_2">recent</span> <br>
                                <span class="tp_text_invert_2">work</span>
                            </h4>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3">
                        <div class="tp-portfolio-metro-social text-md-end pb-50">
                            <div>
                                <a href="{% url 'web:projects' %}">All</a>
                            </div>
                            {% for project_category in project_categories %}
                            <div>
                                <a href="{% url 'web:projects' %}?category={{project_category.name}}">{{project_category.name}}</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div id="top" class="design-project-item-wrap">
                {% for project in projects %}
                <div class="design-project-item mb-120">
                    <div class="row align-items-center">
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-xl-7">
                            <div class="design-project-thumb item-2">
                                <img src="{{project.image.url}}" alt="{{project.name}}">
                            </div>
                        </div>

                        <div class="col-xl-5">
                            <div class="design-project-content pl-200">
                                <h4 class="design-project-title tp_reveal_anim"><a href="{{project.get_absolute_url}}">{{project.name}}</a></h4>
                                <span class="tp_reveal_anim">{{project.category}}</span>
                                <a class="tp-btn-sky-border height-50" href="{{project.get_absolute_url}}">View project</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xl-5 order-xl-0 order-1">
                            <div class="design-project-content pr-200">
                                <h4 class="design-project-title tp_reveal_anim"><a href="{{project.get_absolute_url}}">{{project.name}}</a></h4>
                                <span class="tp_reveal_anim">{{project.category}}</span>
                                <a class="tp-btn-sky-border height-50" href="{{project.get_absolute_url}}">View project</a>
                            </div>
                        </div>

                        <div class="col-xl-7 order-xl-1 order-0">
                            <div class="design-project-thumb item-1 text-end">
                                <img src="{{project.image.url}}" alt="{{project.name}}">
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
        
            </div>
        </div>
    </div>
    <!-- project area end -->

    <!-- brand area start -->
    <div class="des-brand-area pb-50">
        <div class="container container-1830">
            <div class="row">
                <div class="col-xl-6">
                    <div class="des-brand-title-box tp-portfolio-metro-sub mb-40">
                        <h3 class="tp-section-subtitle-clash mb-0">
                            Our clients
                            <i>
                                <svg width="102" height="9" viewBox="0 0 102 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M98 8L101.5 4.5L98 1M1 4H101V5H1V4Z" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="des-brand-moving-wrap">
            <div class="des-brand-moving-top moving-text pb-10">
                <div class="des-brand-item wrapper-text black-style d-flex align-items-center">
                    {% for client in clients %}
                    <div class="des-brand-item-inner">
                        <img src="{{client.image.url}}" alt="">
                    </div>
                   {% endfor %}
                </div>
            </div>
            <div class="des-brand-moving-bottom moving-text">
                <div class="des-brand-item wrapper-text black-style d-flex align-items-center">
                    {% for client in clients reversed %}
                    <div class="des-brand-item-inner">
                        <img src="{{client.image.url}}" alt="">
                    </div>
                   {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- brand area end -->

    <div class="design-footer-area tp-portfolio-metro-footer pt-150">
        <div class="container container-1680">
            <div class="design-footer-top-wrap pb-50">
                <div class="row align-items-end">
                    <div class="col-lg-7">
                        <div class="design-footer-top-text">
                            <h4 class="tp-section-title-dirtyline title-box">
                                <span class="tp-text-right-scroll tp_text_invert_2">time to</span><br>
                                <span class="tp-text-left-scroll tp_text_invert_2">roar!</span>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="design-footer-top-btn text-start text-lg-end">
                            <a class="tp-btn-sky-border solid-bg" href="{% url 'web:contact' %}">Let’s talk!</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}