{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!-- hero area start -->
<div class="ar-hero-area pp-service-2 p-relative pb-45" data-background="{% static 'web/assets/img/about-us/about-us-4/about-us-4-bg.png' %}">
    <div class="tp-career-shape-1">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none">
                <path d="M36.3761 0.5993C40.3065 8.98556 47.3237 34.898 32.8824 44.3691C25.3614 49.0997 9.4871 52.826 1.7513 31.3747C-1.16691 23.2826 5.38982 15.9009 20.5227 20.0332C29.2536 22.4173 50.3517 27.8744 60.9 44.2751C66.4672 52.9311 71.833 71.0287 69.4175 82.9721M69.4175 82.9721C70.1596 77.2054 74.079 66.0171 83.8204 67.3978M69.4175 82.9721C69.8033 79.1875 67.076 70.1737 53.0797 64.3958M49.1371 20.8349C52.611 22.1801 63.742 28.4916 67.9921 39.9344" stroke="#030303" stroke-width="1.5" />
            </svg></span>
    </div>
    <div class="ar-about-us-4-shape">
        <img src="{% static 'web/assets/img/about-us/about-us-4/about-us-4-shape-1.png' %}" alt="">
    </div>
    <div class="container container-1830">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="pp-service-2-title-box">
                    <h3 class="ar-about-us-4-title tp-char-animation">Services & <br>
                        Capabilities</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->


<!-- banner area start -->
<div class="pp-service-2-banner-area p-relative">
    <div class="pp-service-2-banner-top">
        <div class="container container-1830">
            <div class="row">
                <div class="col-lg-4">
                    <div class="pp-service-2-banner-text">
                        <p>10 years of experience</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pp-service-2-banner-text text-lg-center">
                        <p>(©2021 — 2025)</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pp-service-2-banner-text smooth text-lg-end">
                        <a href="#down">Scroll Down <span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                    <path d="M7 1V13" stroke="#111013" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13 7L7 13L1 7" stroke="#111013" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ar-banner-wrap pp-service-2-hight">
        <img class="w-100" src="{% static 'web/assets/img/service/service-2/service-2-thumb.jpg' %}" alt="" data-speed=".8">
    </div>
</div>
<!-- banner area end -->


<!-- service area start -->
<div id="down" class="tp-service-area pt-120">
    <div class="container-fluid p-0">
        <div class="row gx-0">
            <div class="col-12">
                <div class="tp-service-title-box">
                    <span class="tp-section-subtitle pre">Services</span>
                </div>
            </div>
        </div>
        <div class="tp-service-pin">
            {% for service in services %}
            <div class="tp-service-item tp-service-panel">
                <div class="row">
                    <div class="col-xxl-3 col-xl-2 col-lg-1 col-md-1">
                        <div class="tp-service-number">
                            <span>{{forloop.counter|stringformat:"02d"}}.</span>
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-7">
                        <div class="tp-service-content">
                            <h4 class="tp-section-title"><a class="tp_text_invert" href="{{service.get_absolute_url}}">{{service.name}}</a></h4>
                            <div>
                                {{service.description|safe|truncatechars:"240"}}
                            </div>
                            <div class="tp-service-btn">
                                <a href="{{service.get_absolute_url}}" class="tp-btn-black btn-red-bg">
                                    <span class="tp-btn-black-filter-blur">
                                        <svg width="0" height="0">
                                            <defs>
                                                <filter id="buttonFilter2">
                                                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur"></feGaussianBlur>
                                                    <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"></feColorMatrix>
                                                    <feComposite in="SourceGraphic" in2="buttonFilter2" operator="atop"></feComposite>
                                                    <feBlend in="SourceGraphic" in2="buttonFilter2"></feBlend>
                                                </filter>
                                            </defs>
                                        </svg>
                                    </span>
                                    <span class="tp-btn-black-filter d-inline-flex align-items-center" style="filter: url(#buttonFilter2)">
                                        <span class="tp-btn-black-text">Explore This Service</span>
                                        <span class="tp-btn-black-circle">
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1H1M9 1V9" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <div class="tp-service-thumb text-end">
                            <img class="tp_fade_anim" data-fade-from="right" data-delay=".2" src="{{service.image.url}}" alt="{{service.name}}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- service area end -->


<!-- video area start -->
<div class="tp-video-area black-bg mt-120 fix">
    <div class="container-fluid p-0">
        <div class="tp-video-thumb-wrap">
            <div class="tp-video-thumb d-none d-xl-block">
                <img src="{% static 'web/assets/img/home-01/video/video-1.jpg' %}" alt="">
            </div>
            <div class="tp-video-thumb mb-25">
                <!-- <img src="{% static 'web/assets/img/home-01/video/video-1.jpg' %}" alt=""> -->
                <video loop="" muted="" autoplay="" playsinline="">
                    <source src="https://html.aqlova.com/videos/liko/liko.mp4" type="video/mp4">
                </video>
            </div>
            <div class="tp-video-thumb d-none d-xl-block mb-25">
                <img src="{% static 'web/assets/img/home-01/video/video-3.jpg' %}" alt="">
            </div>
            <div class="tp-video-thumb d-none d-xl-block mb-25">
                <img src="{% static 'web/assets/img/home-01/video/video-4.jpg' %}" alt="">
            </div>
            <div class="tp-video-thumb d-none d-xl-block">
                <img src="{% static 'web/assets/img/home-01/video/video-5.jpg' %}" alt="">
            </div>
            <div class="tp-video-thumb d-none d-xl-block">
                <img src="{% static 'web/assets/img/home-01/video/video-6.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- video area end -->


<!-- work area start -->
<div class="tp-work-area pt-120 pb-145 tp-panel-pin-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="tp-work-title-box tp-panel-pin">
                    <span class="tp-section-subtitle pre mb-20">How we Work</span>
                    <h2 class="tp-section-title fs-140">Our <br> design thinking process</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tp-work-wrapper">
                    <div class="tp-work-item tp-panel-pin mb-15">
                        <div class="tp-work-number p-relative">
                            <span></span>
                            <i>01</i>
                        </div>
                        <div class="tp-work-content">
                            <h4 class="tp-work-title">User Research</h4>
                            <p>We listen stories of user to understand pain points and give a rough <br> estimate about cost and time-frame</p>
                        </div>
                    </div>
                    <div class="tp-work-item tp-panel-pin mb-15">
                        <div class="tp-work-number p-relative">
                            <span></span>
                            <i>02</i>
                        </div>
                        <div class="tp-work-content">
                            <h4 class="tp-work-title">Define Problems</h4>
                            <p>We listen stories of user to understand pain points and give a rough <br> estimate about cost and time-frame</p>
                        </div>
                    </div>
                    <div class="tp-work-item tp-panel-pin mb-15">
                        <div class="tp-work-number p-relative">
                            <span></span>
                            <i>03</i>
                        </div>
                        <div class="tp-work-content">
                            <h4 class="tp-work-title">Design & Prototype</h4>
                            <p>We listen stories of user to understand pain points and give a rough <br> estimate about cost and time-frame</p>
                        </div>
                    </div>
                    <div class="tp-work-item tp-panel-pin mb-15">
                        <div class="tp-work-number p-relative">
                            <span></span>
                            <i>04</i>
                        </div>
                        <div class="tp-work-content">
                            <h4 class="tp-work-title">Evaluation & Testing</h4>
                            <p>We listen stories of user to understand pain points and give a rough <br> estimate about cost and time-frame</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- work area end -->
{% endblock %}