.tp-blog-masonry-item-user-thumb img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.tp-portfolio-inner-thumb img{
    height: 330px !important;
    object-fit: cover !important;
    object-position: center !important;
}
@media(min-width: 991px){
    .design-project-thumb img{
        width: 100% !important;
        height: 600px !important;
        object-fit: cover !important;
        object-position: center !important;
    }
    .tp-portfolio-details-description p{
        margin-left: 10px;
    }
    .tp-portfolio-details-description ul{
        padding-left: 30px !important;
    }
    .tp-portfolio-details-1-thumb img{
        height: 750px !important;
        object-fit: cover !important;
        object-position: center !important;
        width: 100% !important;
    }
    .tp-portfolio-details-1-thumb-1{
        height: 750px !important;
    }
    .pp-service-details-overview-list ul li{
        margin-right: 50px !important;
    }
    .tp-copyright-big-text{
        font-size: 160px !important;
        letter-spacing: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tp-service-item .tp-service-thumb img{
        height: 580px !important;
        width: 465px !important;
        object-fit: cover !important;
        object-position: center !important
    }
    .tp-copyright-left {
        padding-left: 380px !important;
    }
    .tp-copyright-right {
        padding-right: 155px !important;
    }
    .ar-about-us-4-text-title{
        font-size: 60px !important;
        letter-spacing: 0;
    }
    .tp-about-area, .creative-service-area {
        padding-top: 70px !important;
    }
    .creative-service-item.about-us-4 .creative-service-title, .ar-about-us-4-title{
        font-size: 80px !important;
    }
    .creative-service-item{
        padding-top: 25px !important;
        padding-bottom: 30px !important;
    }
    .tp-section-title.fs-140, .tp-career-title {
        font-size: 80px !important;
    }
    .ar-about-us-4-shape {
        top: 32% !important;
        right: 47% !important;
    }
    .pp-service-2 .tp-career-shape-1 {
        top: 50% !important;
        right: 55% !important;
    }
    .tp-service-area{
        padding-top: 70px !important;
    }
    .tp-panel-pin-area{
        padding-bottom: 10px !important;
    }
    .ar-about-us-4-hero-ptb {
        padding-top: 40px !important;
    }

    
}
.pp-service-details-overview-heading{
    margin-bottom: 30px !important;
}
.pp-service-details-overview-wrapper p{
    margin-bottom: 25px !important;
}
.pp-service-description ul {
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 20px;
}

.pp-service-description ul li {
    position: relative;
    padding-left: 32px;
    padding-right: 70px;
}

.pp-service-description ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px; /* adjust vertical alignment */
  width: 22px;   /* circle size */
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.1); /* border color */
  border-radius: 50%;     /* make it round */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* optional background */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10' fill='none'><path d='M9.50631 0.886963L4.26771 6.12552L1.49369 3.35158L0 4.84527L4.26771 9.11302L11 2.38065L9.50631 0.886963Z' fill='black'/></svg>");
}
/* .tp-service-area .tp-service-item.tp-service-panel{
    height: 464.312px !important;
} */
/* .tp-service-content .tp-service-btn{
    margin-bottom: 20px !important; 
} */
.tp-career-details-wrap .tp-career-description ul{
    padding-left: 30px !important;
}
.modal {
  z-index: 9999 !important;
}

.modal-backdrop {
  z-index: 9998 !important;
}

.bigbrand-light .des-testimonial-slide-area .des-testiimonial-item.black-style .des-testimonial-item-inner {
    background-color: rgb(255 255 255) !important;
}


.tp-service-content .tp-section-title{
    margin-bottom: 25px !important;
}

.tp-career-enquiry-modal .modal-dialog{
    width: 800px !important;
}
.tp-career-enquiry-modal .modal-header .btn-close{
    padding: 2px;
    height: 35px;
    width: 35px;
}
.upload-box {
    background: #f9fafb;
    border: 2px dashed #cbd5e1;
    border-radius: 12px;
    min-height: 140px;
    transition: all 0.25s ease;
}
.upload-box:hover {
    background: #eef2ff;
    border-color: #4f46e5;
}
.cursor-pointer { cursor: pointer; }

.form-label { font-size: .95rem; color: #374151; }

.tp-career-details-sidebar-btn button {
    width: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 12px 18px;
    border-radius: 26px;
    display: inline-block;
    letter-spacing: -0.2px;
    background: #FF5722;
    color: var(--tp-common-white);
}

.tp-career-details-sidebar-btn:hover button{
    background-color: #111013;
    color: var(--tp-common-white);
}

.tp-career-enquiry-modal .modal-content{
    padding: 20px;
}

.tp-service-details-sidebar form input{
    background: rgb(255 255 255) !important;
    border: 1px solid rgb(217 217 217) !important;
}

.tp-footer-widget-menu ul li.active a{
    color: var(--tp-common-white);
    background-color: var(--tp-common-red-3);
}

@media (max-width: 767px) {
    .des-testimonial-item-inner {
        height: 200px;
        min-width: 100%;
    }
}
.des-testimonial-moving-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.testimonial-slider {
  display: flex;
  gap: 20px;
}

.des-testimonial-item-inner {
  flex: 0 0 auto;
  width: 390px;
}

@media (max-width: 991px) {
  .des-testimonial-item-inner{ 
    width: 100%; 

    }
    .ar-about-us-4-hero-ptb {
            padding-top: 10px !important;
    }
    .creative-service-area{
        padding-top: 40px !important;
    }
    .tp-video-area{
        margin-top: 50px !important;
    }
    .tp-work-area{
        padding-bottom: 0px !important;
    }
    .tp-portfolio-details-1-banner img{
        height: 360px !important;
        object-fit: cover !important;
    }
    .tp-portfolio-details-1-area {
        padding-bottom: 30px !important;
    }
    .tp-portfolio-details-description ul{
        padding-left: 20px !important;
    }
    .tp-portfolio-details-1-ptb {
        padding-bottom: 60px !important;
    }
    .tp-blog-gird-sidebar-ptb{
        padding-bottom: 30px !important;
    }
    .blog-detail-area{
        padding-top: 50px !important;
        padding-bottom: 10px !important;
    }
    .sidebar-wrapper{
        margin-top: 10px !important;
    }
    .tp-career-opening-ptb{
        padding-bottom: 20px !important;
    }
    .tp-career-table-header{
        display: none !important;
    }
    .tp-contact-map-ptb{
        padding-bottom: 40px !important;
    }
    .tp-contact-form-ptb {
        padding-bottom: 50px !important;
    }
    .tp-section-title, .tp-career-title.fs-100, .ar-about-us-4-title{
        font-size: 28px !important;
        letter-spacing: normal !important;
        line-height: 1.2 !important;
        padding-bottom: 10px;
    }
    /* .tp-line-black, .tp-funfact-title{
        letter-spacing: normal !important;
    } */
     .ar-about-us-4-title {
        margin-bottom: 20px !important;
     }
     .ar-about-us-4-text-title{
        font-size: 30px !important;
     }
     .tp-about-area{
        padding-top: 40px !important;
     }
     .tp-breadcrumb-ptb{
        padding-top: 130px !important;
     }
     .pp-service-2.ar-hero-area{
        padding-bottom: 0px !important;
     }
    .tp-blog-title {
        font-size: 45px !important;
    }
    .tp-blog-heading-wrap{
        padding-bottom: 20px !important;
    }
    .tp-pd-2-title {
        font-size: 44px !important;
    }




}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .tp-about-area {
        padding-top: 80px;
        padding-bottom: 40px !important; 
    }
}
.tp-header-inner-style .tp-header-menu > nav > ul > li:hover > a, .tp-header-dropdown nav ul li:hover a{
    color: var(--tp-common-red-3);
}
.tp-header-inner-style .tp-header-menu > nav > ul > li.active > a, .tp-header-dropdown nav ul li.active a{
    color: var(--tp-common-red-3);
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .tp-copyright-big-text {
        font-size: 85px !important;
        letter-spacing: -2px !important;
        display: flex !important;
        justify-content: center !important;
    }
    .tp-copyright-left {
        padding-left: 200px !important;
    }
    .tp-copyright-right {
        padding-right: 55px !important;
    }
    .ar-about-us-4-shape {
        top: 34% !important;
        right: 32% !important;
    }
    .tp-section-title, .tp-career-title.fs-100, .ar-about-us-4-title {
        font-size: 50px !important;
        letter-spacing: normal !important;
        line-height: 1.2 !important;
        padding-bottom: 10px;
    }
    .ar-about-us-4-shape {
        position: absolute;
        top: 53% !important;
        right: 50% !important;
        width: 40px !important;
    }
}